<div class="container">
    <div class="form-box">
        <form #frm="ngForm" (ngSubmit)="calcularResultado()"> <!-- #frm é a variável -->
            <h2>Calculadora</h2>
            <label for="numero1">Número 1</label>
            <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1">

            <label for="numero2">Número 2</label>
            <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2">

            <button type="submit">Somar</button>
        </form>

        <div class="result-display" *ngIf="resultado"> <!-- condição com a biblioteca CommonModule importada -->
            <p>Seu resultado está abaixo:</p>
        </div>

        <!-- condição nativa -->
        @if(resultado) { <!-- resultado != 0 && resultado != null && resultado != undefined && resultado != false -->
        <div class="result-display">
            <p>Resultado: <span id="result"> {{ resultado }} </span></p>
        </div>
        } @else {
            <div class="result-display">
                <p>Seu resultado aparecerá aqui.</p>
            </div>
        }

    </div>
</div>

<!-- linha 6: o motivo de colocar o [] é porquê é two way data binding, significando que tem dois caminhos, o do html e do componente, se eu mudar o valor da variável lá no componente, ele vai refletir aqui, por exemplo, se eu mudar o numero1 para = 60, vai aparecer na interface o número 60 -->

<!-- linha 11: não precisa colocar o [] por ser one way data binding, só envia do formulário para o componente, não precisa dos colchetes porquê no evento do click, não precisa receber valor nenhum e já está enviando os valores na linha 6 e 9 -->

<!-- Resumindo: para referenciar os campos, a gente utiliza o data bind -->
